/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

/* Add your styles here */
/* Selection Box added from https://forum.iobroker.net/topic/10186/adapterentwicklung-object-id-baum/6 */
#dialog-select-member {
    z-index: 9999 !important;
}